<h1>Rewards#show</h1>

ログインユーザ：<%= current_user.name %>
<br />ご褒美<br />
<div id='reward'>
  <%= render @reward %>
</div>

<% if @reward.in_progress? %>
  <br />
  <%= button_tag '招待用URLをコピー', 
        data: { controller: "clipboard",
        action: "click->clipboard#copy",
        clipboard_content_value: reward_url(@reward.id, invitation_token: @reward.invitation_token) } %>
  <br />
<% end %>

<br />目標<br />
<% @goals.each do |goal| %>
  <div id="<%= dom_id(goal) %>">
    <%= render 'goals/goal', goal: goal %>
  </div>
  <div id="<%= dom_id(goal.favorite) %>">
    <%= render 'favorites/favorite', favorite: goal.favorite %>
  </div>
  <div id="<%= dom_id(goal.cheering) %>">
    <%= render 'cheerings/cheering', cheering: goal.cheering %>
  </div>
<% end %>
