<h1>Rewards#show</h1>

ログインユーザ：<%= current_user.name %>
<br />ご褒美<br />
<div id='reward'>
  <%= render @reward %>
</div>

<br />
<%= button_tag '招待用URLをコピー', 
      data: { controller: "clipboard",
      action: "click->clipboard#copy",
      clipboard_content_value: reward_url(@reward.id, invitation_token: @reward.invitation_token) } %>
<br />

<br />目標<br />
<% @reward.goals.each do |goal| %>
  ユーザ名：<%= goal.user.name %>
  目標：<%= goal.content %>
  進捗率：<%= goal.progress %>%
  <%= link_to "目標の編集", edit_goal_path(goal) %>
  <br />
<% end %>
