<h1>Rewards#show</h1>

ログインユーザ：<%= current_user.name %>
<br />
<%= @reward.completiondate %>に　
<%= @reward.location %>で　
<%= @reward.content %>する
<%= button_to "削除", @reward, method: :delete %>


<% @reward.users.each do |user| %>
  関連ユーザ名：<%= user.name %>
  関連ユーザメール：<%= user.email %>
  <br />
<% end %>
  <%= link_to "編集", edit_reward_path(@reward) %>
