<%= turbo_frame_tag goal do %>
  <%= bootstrap_form_with(model: goal, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
    <div class="mb-3">
      <%= form.text_area :content %>
    </div>
    <div class="mb-3">
      <%= form.label "進捗率" %>％
    </div>
    <div class="mb-3">
      <%= form.number_field :progress %>
    </div>
    <div class="mb-3">
      <%= form.submit "保存", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
