<h1>Goals#index</h1>
今日：<%= Date.current %>
<p style="color: green"><%= notice %></p>
<br />
ログインユーザ：<%= current_user.name %>
<br />

<div class="btn-group">
  <%= link_to "実施中", goals_path(display: 'inprogress'), class: "#{current_page_button_primary('inprogress')} #{current_page_button_or_not('inprogress')}" %>
  <%= link_to "完了", goals_path(display: 'completed'), class: "#{current_page_button_primary('completed')} #{current_page_button_or_not('completed')}" %>
</div>

<br />
<% @goals.each do |goal| %>
  <% goal_content = goal.content.empty? ? '目標が未設定です！' : goal.content %>
  <%= goal.reward.completiondate %>
  <%= link_to goal_content, reward_path(goal.reward.id) %>
  <%= goal.progress %>%
  <br />
<% end %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to '新規作成', new_reward_path %>
